:root{
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: sans-serif;
}

h1,h2,h3,h4,h5{
    margin: 0;
}


a{
    text-decoration: none;
    color: #5a5a5a;
}


/* Navigation */
.flex{
    display: flex;
}

.flex__nav{
    justify-content: space-between;
    align-items: center;

}

.links{
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}


/* Hero */
.flex--center{
    justify-content: center;
    align-items: center;
}

img{
    max-width: 200px;
    height: auto;
}


.hero--title{
    font-size: 4.8rem;
    font-weight: 800;
    color: #f9faf8;
}

.subtext{
    margin-top: 0;
    width: 70ch;
    font-size: 1.8rem;
    color: #e5e7eb;
}

.button{
    border-radius: 5px;
    padding: 0.8rem 3rem;
    border: 0px;
    background-color: #3882f6;
}

.button--text{
    color: #e5e7eb;
    font-weight: 600;
}

.dark-bg{
    background: #1F2937;
}

.section-padding{
padding: 10rem 0;
}

/* Information block */
.info-heading{
    text-align: center;
    font-size: 3.6rem;
    font-weight: 800;
    color: #1F2937;
}

.flex--column{
    flex-direction: column;
    align-content: flex-start;
}

.info-subtext{
    text-align: center;
}

.top-padding{
    padding-top: 5rem;;
}

/* Quote */
.quote{
    font-size: 3.6rem;
    font-style: italic;
    font-weight: 100;
    color: #393939;
    margin: 0;
    text-align: left;
    padding: 0 20rem;
}

.quote-author{
    align-self: flex-end;
    font-weight: 800;
    font-size: 2rem;
    padding: 0 20rem;
    margin: 0;
}

.quote-bg{
    background: #e5e7eb;
}

.quote-block{
    width: 600px;
    height: auto;
    margin: 0;
}
