:root{
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: sans-serif;
}

h1,h2,h3,h4,h5{
    margin: 0;
}

.header-logo{
    font-size: 3.6rem;
    font-weight: 900;
    color: #f9faf8;
}

a{
    text-decoration: none;
    color: #f9faf8;
    pointer-events: visible;
}

button{
    pointer-events: visible;
}


/* Navigation */
.flex{
    display: flex;
}

.flex__nav{
    justify-content: space-between;
    align-items: center;
    padding: 1rem 15rem;
}

.links{
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
    font-size: 1.3rem;
}


/* Hero */
.flex--center{
    justify-content: center;
    align-items: center;
}

img{
    max-width: 200px;
    height: auto;
}

.hero-spacing{
    justify-content: space-between;
}

.hero--title{
    font-size: 4.8rem;
    font-weight: 800;
    color: #f9faf8;
}

.subtext{
    margin: 0;
    width: 70ch;
    font-size: 1.8rem;
    color: #e5e7eb;
}

.button{
    border-radius: 5px;
    padding: 0.8rem 0;
    border: 0px;
    background-color: #3882f6;
}

.button--text{
    color: #e5e7eb;
    font-weight: 600;
    padding: 0.8rem 3rem;
}

.dark-bg{
    background: #1F2937;
}

.section-padding{
padding: 10rem 15rem;
}

/* Information block */
.info-heading{
    text-align: center;
    font-size: 3.6rem;
    font-weight: 800;
    color: #1F2937;
}

.flex--column{
    flex-direction: column;
    align-content: flex-start;
}

.info-subtext{
    text-align: center;
    font-size: 1.2rem;
}

.top-margin{
    margin-top: 2rem;;
}

/* Quote */
.quote{
    font-size: 3.6rem;
    font-style: italic;
    font-weight: 100;
    color: #393939;
    margin: 0;
    text-align: left;
    padding: 0 20rem;
}

.quote-author{
    align-self: flex-end;
    font-weight: 800;
    font-size: 2rem;
    padding: 0 20rem;
    margin: 0;
}

.quote-bg{
    background: #e5e7eb;
}

.quote-block{
    width: 600px;
    height: auto;
    margin: 0;
}

/* CTA Card */

.cta-card{
    border-radius: 5px;
    height: 10rem;
    max-width: 90rem;
    background: #3882f6;
    padding: 2rem 8rem;
    justify-content: center;
    align-items: center;
}

.cta-heading{
    font-size: 3rem;
    margin-bottom: 0.5rem;
    color: #e5e7eb;
}

.button-outline{
    border-radius: 5px;
    padding: 0.8rem 3rem;
    border: 2px solid #f9faf8;
    background-color: #3882f6;
}

/* Footer */
.footer-text{
    font-size: 1rem;
    color: #e5e7eb;
    text-align: center;
    padding: 2.5rem 0;
}