:root{
    font-size: 62.5%;
    box-sizing: border-box;
    padding: 10px;
    font-family: sans-serif;
}

h1,h2,h3,h4,h5{
    margin: 0;
}


a{
    text-decoration: none;
    color: #5a5a5a;
}


/* Navigation */
.flex{
    display: flex;
}

.flex__nav{
    justify-content: space-between;
    align-items: center;

}

.links{
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}


/* Hero */
.flex--center{
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

img{
    max-width: 400px;
}


.hero--title{
    font-size: 4.8rem;
    font-weight: 800;
    color: #f9faf8;
}

.hero--textbox{
    margin-top: 0;
    width: 70ch;
    font-size: 1.8rem;
    color: #e5e7eb;
}

.button{
    border-radius: 5px;
    padding: 0.8rem 3rem;
    border: 0px;
    background-color: #3882f6;
}

.button--text{
    color: #e5e7eb;
    font-weight: 600;
}

.dark-bg{
    background: #1F2937;
}

.section-padding{
padding: 10rem 0;
}